<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CharConverter</display-name>
  
  <welcome-file-list>
	<welcome-file>/WEB-INF/Converter.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Converter</servlet-name>
    <servlet-class>fr.univ.lehavre.caw.Servlet.Converter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Converter</servlet-name>
    <url-pattern>/Converter</url-pattern>
  </servlet-mapping>
</web-app>
